export SPOTIFY_ID= # Spotify API key
export SPOTIFY_SECRET= # Spotify API secret
export SPOTIFY_PLAYLIST_ID= # Spotify Playlist ID
export SLSKD_URL= # Soulseek URL with port
export TELEGRAM_BOT_TOKEN= # Telegram bot token
export TELEGRAM_CHAT_ID= # Telegram chat ID
